streamlit
google-generativeai
python-dotenv
pdf2image
PyPDF2
chromadb
langchain
faiss-cpu
google-cloud
google-cloud-texttospeech
gTTS
#playsound
opencv-python
pygame
langchain_google_genai
speechrecognition
langchain-community
crewai
huggingface_hub
diffusers
torch
phidata 
python-dotenv
yfinance
packaging
duckduckgo-search
fastapi
uvicorn
groq
openai
pgvector
exa_py
psycopg
googlesearch-python 
pycountry
arxiv 
pypdf
elevenlabs
streamlit_chat
wikipedia-api
transformers
torch
#protobuf
protobuf==3.20.*
sentencepiece
accelerate
reportlab
opencv-python-headless  # Avoids libGL.so.1 errors
langgraph
langsmith
tiktoken